<!DOCTYPE html>

<html>

    <head>
    	<meta name="viewport" http-equiv="Content-Type" content="text/html, charset=utf-8, width=device-width, initial-scale=1" />

        <title>{% block title %} bcGen {% endblock %}</title>

        {% block stylesheets %}
            <!-- old css, to be removed
            <link rel="stylesheet" href="{{ asset('bundles/bcgenmain/css/bcGen.css') }}" type = "text/css" />
            -->
            <link rel="stylesheet" href="{{ asset('bundles/bcgenmain/css/w3.css') }}" type = "text/css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% endblock %}
    </head>

    <body>
    
        <header class="w3-container">
            {% block header %}
                  <h1>Bc Gen</h1>
    	    {% endblock %}
       </header>
       
       <nav id="menu1" class="w3-bar w3-green w3-large w3-card-4" >
            {% block menu %}
                <a href="" class="w3-bar-item w3-button w3-hover-light-green"><i class="fa fa-home"></i></a>
	            <a href="" class="w3-bar-item w3-button w3-hover-light-green">CSV FILE</a>
	            <a href="" class="w3-bar-item w3-button w3-hover-light-green">UPSTREAM</a>
	            <a href="" class="w3-bar-item w3-button w3-hover-light-green"><i class="fa fa-sign-in"></i></a>
    	    {% endblock %}
       </nav>
    
    	<div id = "mainContainer" >
    	    {% block body %}
    	    {% endblock %}
        </div>
    
        <footer class="w3-container" >
        	{% block footer %}
        	{% endblock %}
        </footer>
        
    </body> 

</html>
