<form action="{{ path('bc_gen_main_detailed_display') }}" method="POST">
	<p>Research of one gene</p>
	{{ form_widget( form.search ) }}
	<button type="Submit">Search</button>
	{{ form_widget(form) }}
</form>