{% extends "::layout.html.twig" %}

{% block title %}
       {# parent() gets the content from the parent layout block #}
       {{ parent() }}
{% endblock %}

{% block header %}
       {{ parent() }}
       {# A new block is defined in order to fill it in #}
       {% block bcGenBundleHeader %}
       {% endblock %}
{% endblock %}

{% block menu %}
       {{ parent() }}
       {% block bcGenBundleMenu %}
       {% endblock %}
{% endblock %}

{% block body %}
       {% block bcGenBundleBody %}
       {% endblock %}
{% endblock %}

{% block leftside %}
    {% block bcGenBundleLSide %}
    {% endblock %}
{% endblock %}

{% block rightside %}
    {% block bcGenBundleRSide %}
    {% endblock %}
{% endblock %}

{% block footer %}
	<ul>
	   <li>About</li>
	   <li>Website designed in the research unit : UMR 5240.
	   <li>Team : Génomique fonctionnelle des phytopathogènes fongiques</li>
       <li>Web site version : 0.1.0</li>	
	</ul>	
	<ul>
	   <li>Authors</li>
       <li>Isabelle Gonçalves</li>
       <li>Xavier Sottiaux</li>
	</ul>    
{% endblock %}