{% extends "bcGenMainBundle:Main:layout.html.twig" %}

{% block title %}
    {{ parent() }} - Neighborhood display
{% endblock %}

{% block header %}
     {{ parent () }}
     <h2>Neighborhood display</h2>
{% endblock %}

{% block  bcGenBundleBody %}
    
    {% for locus in resultArray %}
    
	       {% set locus = locus %}
	       {% set onlyOneGene = '' %}
	       {% set geneNum = '' %}
	       
	      {% include( 'bcGenMainBundle:Main:locus.html.twig' ) %}
	{% endfor %}
    
    <div class="navigation">
        {{ knp_pagination_render(resultArray) }}
    </div>

{% endblock %}