{% extends "bcGenMainBundle:Main:layout.html.twig" %}

{% block title %}
    {{ parent() }} - Homepage
{% endblock %}

{% block bcGenBundleHeader %}
    {{ parent () }}
    <h2>Homepage</h2>
{% endblock %}

{% block bcGenBundleBody %}
    
    <div class = "w3-row" >
        <div id = "searchOneGene" class ="w3-half"> 
            <section>
                <p>Research of one gene</p>
            </section>
            {{ render(controller('bcGenMainBundle:Main:searchGene' )) }}
        </div>
        
        <div id = "searchGeneList" class ="w3-half">
            <section>
                <p>Research from a gene list</p>
            </section>
            {{ render(controller('bcGenMainBundle:Main:searchGenes' )) }}
        </div>
    </div>    
        
{% endblock %}
