<form action="{{ path('bc_gen_main_locus_display') }}" method="GET" >
  <p>Research of a gene list</p>
  {{ form_widget( form.search ) }}
  <button type="Submit">Search</button>
  {{ form_widget(form) }}
</form>